# =========================================================
# Ignora tudo do build
# =========================================================
build/*

# =========================================================
# Permite apenas o jar
# =========================================================
!build/libs/
!build/libs/*.jar

# =========================================================
# Ignorar dependências
# =========================================================
.gradle/
.git/
node_modules/